name: Build

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    tags: [ v* ]
  pull_request:
  merge_group:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: "recursive"
          fetch-depth: 0

      - name: Write key
        if: ${{ ( github.event_name != 'pull_request' && github.ref == 'refs/heads/master' ) || github.ref_type == 'tag' }}
        run: |
          if [ ! -z "${{ secrets.KEY_STORE }}" ]; then
            echo storePassword='${{ secrets.KEY_STORE_PASSWORD }}' >> keystore.properties
            echo keyAlias='${{ secrets.ALIAS }}' >> keystore.properties
            echo keyPassword='${{ secrets.KEY_PASSWORD }}' >> keystore.properties
            echo storeFile=$PWD/'key.jks' >> keystore.properties
            echo '${{ secrets.KEY_STORE }}' | base64 --decode > key.jks
          fi

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 24

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build with Gradle
        run: |
          ./gradlew assemble

      - name: Upload release
        uses: actions/upload-artifact@v5
        with:
          name: "KsuWebUI-release"
          path: "./app/build/outputs/apk/release/*.apk"
          compression-level: 9

      - name: Upload release mapping
        uses: actions/upload-artifact@v5
        with:
          name: "KsuWebUI-release-mappings"
          path: "./app/build/outputs/mapping/release"
          compression-level: 9

      - name: Upload debug
        uses: actions/upload-artifact@v5
        with:
          name: "KsuWebUI-debug"
          path: "./app/build/outputs/apk/debug/*.apk"
          compression-level: 9

      - name: Upload to telegram
        if: success()
        run: |
          TAG=$(git describe --tags --abbrev=0)
          COUNT=$(git rev-list --count HEAD)
          AND=KsuWebUI-${TAG}-${COUNT}
          RELEASE_APK=${AND}-release.apk
          DEBUG_APK=${AND}-debug.apk
          cp ./app/build/outputs/apk/release/*.apk ./"${RELEASE_APK}"
          cp ./app/build/outputs/apk/debug/*.apk ./"${DEBUG_APK}"
          curl -s -v "https://api.telegram.org/bot${{ secrets.BB_TOKEN }}/sendMediaGroup?chat_id=${{ secrets.BN_CHAT_ID }}&media=%5B%7B%22type%22%3A%22document%22%2C%22media%22%3A%22attach%3A%2F%2Frelease%22%7D%2C%7B%22type%22%3A%22document%22%2C%22media%22%3A%22attach%3A%2F%2Fdebug%22%2C%22caption%22%3A%22${AND}%22%7D%5D" -F "release=@${RELEASE_APK}" -F "debug=@${DEBUG_APK}" >> /dev/null
